.home,
.services,
.contact,
.signup
{
    display:flex;
    height:90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

}
.services{
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    font-size: 100px;
}
.contact
{
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    font-size: 100px;   
}
.signup{
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    font-size: 100px;
}